node_modules/
dist/
build/
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Prisma
backend/prisma/migrations/dev.db
backend/prisma/*.db

# Uploads
backend/uploads/
frontend/dist/